<div id="promotion-view" style="display: none;">
    <!--<div class="home-slider">
        <div class="home-slide">
            <video muted preload="metadata">
                <source src="http://92.222.89.255/PaladiumLauncher/swinger/launcher/home/backgrounds/background_video_1.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="home-slide">
            <img src="http://92.222.89.255/PaladiumLauncher/swinger/launcher/home/backgrounds/background_1.png">
        </div>
        <div class="home-slide">
            <img src="http://92.222.89.255/PaladiumLauncher/swinger/launcher/home/backgrounds/background_2.png">
        </div>
        <div class="home-slide">
            <img src="http://92.222.89.255/PaladiumLauncher/swinger/launcher/home/backgrounds/background_3.png">
        </div>
        <div class="home-slide">
            <img src="http://92.222.89.255/PaladiumLauncher/swinger/launcher/home/backgrounds/background_4.png">
        </div>
        <div class="home-slide">
            <img src="http://92.222.89.255/PaladiumLauncher/swinger/launcher/home/backgrounds/background_5.png">
        </div>
        <div class="home-slide">
            <img src="http://92.222.89.255/PaladiumLauncher/swinger/launcher/home/backgrounds/background_6.png">
        </div>
        <div class="home-slide">
            <img src="http://92.222.89.255/PaladiumLauncher/swinger/launcher/home/backgrounds/background_7.png">
        </div>

        <div class="mask"></div>
    </div>

    <script src="./assets/js/scripts/promotion.js"></script>-->
</div>