<div class="settings-container" id="settings-launcher-config-panel" style="display: none;">
    <h1 id="title">Paramètres du launcher</h1>

    <div class="info-container">
        <p class="title">Information</p>
        <p class="desc">Cette page permet de configurer le fonctionnement du launcher.</p>
    </div>

    <div class="settings-flex-container">
        <div class="mt-10">
            <input class="checkbox" id="checkbox-1" type="checkbox" value="value1">
            <label for="checkbox-1">Télécharger les pre-release du launcher</label>
        </div>
        <div class="mt-10">
            <input class="checkbox" id="checkbox-2" type="checkbox" value="value2">
            <label for="checkbox-2">Garder le launcher ouvert durant l'exécution du jeu</label>
        </div>

        <p class="group-name mt-20">Rapports de plantage</p>
        <div class="mt-10">
            <input class="checkbox" id="checkbox-3" type="checkbox" value="value3">
            <label for="checkbox-3">Envoyer automatiquement les rapports de plantage à Paladium</label>
        </div>

        <p class="group-name mt-20">Répertoire du jeu</p>
        <input class="textfield mt-10" type="text" id="settings-launcher-config-gamedirectory-textfield"/>
        
        <div class="mt-10">
            <button class="button button-settings" id="settings-launcher-config-gamedirectory-edit-button">Parcourir</button>
            <a class="ml-10" id="settings-launcher-config-gamedirectory-open-button">Ouvir le répertoire du jeu</a>
        </div>
    </div>

    <script src="./assets/js/scripts/settings/launcher-config.js"></script>

</div>