<div class="settings-container" id="settings-launcher-distribution-panel" style="display: none;">
    <h1 id="title">Distribution</h1>

    <div class="info-container">
        <p class="title">Information</p>
        <p class="desc">Cette page permet de configurer le système de distribution du launcher.</p>
    </div>

    <div class="warning-banner-settings" style="margin-bottom: 20px;"><i class="fas fa-exclamation-triangle"></i> Modifier les valeurs ici sans savoir ce que l'on fait peu faire planter le launcher.</div>

    <div class="settings-flex-container">
        <p class="group-name">Url</p>
        <p class="group-name mb-5">(laisser vide pour avoir la valeur par défaut)</p>

        <input class="textfield" type="text" id="settings-launcher-distro-textfield" />
    </div>

    <script src="./assets/js/scripts/settings/launcher-distribution.js"></script>
</div>