<div class="settings-container" id="settings-launcher-config-panel" style="display: none;">
    <h1 id="title">Paramètres du launcher</h1>

    <!-- TODO: Interface: Ajouter les checkboxs (custom) (Chaika9) -->

    <!-- TODO: Ajouter les paramètres launcher (ici interface) -->

    <!-- TODO: Option: Fermer le launcher au démarrage du jeu -->

    <!-- TODO: Option: Ouvrir la console au démarrage du jeu (quand la console sera dev) -->

    <!-- TODO: Option: Envoyer automatiquement les rapports de plantage (crash du jeu) à Paladium -->
</div>