<div class="settings-container" id="settings-pdc-panel" style="display: none;">
    <h1 id="title">Politique de confidentialité</h1>

    <div class="info-container">
        <p class="title-2">Introduction</p>
        <p class="desc-2">Nous sommes Paladium-Pvp ("nous", "nos"). Nous nous engageons à protéger et à respecter votre vie privée. Si vous avez des questions concernant vos informations personnelles, veuillez <a href="https://paladium-pvp.fr/index.php?misc/contact/">nous contacter</a>.</p>
        <br>
        <p class="title-2">Quelles informations nous détenons sur vous</p>
        <p class="desc-2">Le type de données que nous collectons et traitons comprend :
            <br><br>- Votre nom ou nom d'utilisateur.
            <br>- Votre adresse e-mail.
            <br>- Votre adresse IP.
            <br><br>D'autres données peuvent être collectées si vous choisissez de les partager, par exemple si vous remplissez les champs sur votre profil.
            <br><br>Nous collectons tout ou partie de ces informations dans les cas suivants :
            <br><br>- Vous vous inscrivez en tant que membre sur ce site.
            <br>- Vous remplissez notre formulaire de contact.
            <br>- Vous parcourez ce site. Voir "Politique de cookies" ci-dessous.
            <br>- Vous remplissez des champs sur votre profil.
        </p>
        <br>
        <p class="title-2">Comment vos informations personnelles sont utilisées</p>
        <p class="desc-2">Nous pouvons utiliser vos informations personnelles de la manière suivante :
            <br><br>- Dans le but de vous inscrire en tant que membre de notre site, afin que vous puissiez contribuer au contenu de ce site.
            <br>- Nous pouvons utiliser votre adresse e-mail pour vous informer de l'activité sur notre site.
            <br>- Votre adresse IP est enregistrée lorsque vous effectuez certaines actions sur notre site. Votre adresse IP n'est jamais visible publiquement.
        </p>
        <br>
        <p class="title-2">Autres moyens d’utiliser vos informations personnelles.</p>
        <p class="desc-2">En plus de vous informer des activités sur notre site qui peuvent vous concerner, nous pouvons souhaiter de temps à autre communiquer avec tous les membres des informations importantes telles que des notes d'information ou des annonces par courrier électronique. Vous pouvez accepter ou refuser ces courriels dans votre profil.
            <br><br>Nous pouvons collecter des informations non identifiables vous concernant au cours de votre interaction avec notre site. Ces informations peuvent inclure des informations techniques sur le navigateur ou le type d'appareil que vous utilisez. Ces informations seront utilisées uniquement à des fins d'analyse et de suivi du nombre de visiteurs sur notre site.
        </p>
        <br>
        <p class="title-2">Garder vos données en sécurité</p>
        <p class="desc-2">Nous nous engageons à garantir la sécurité de toute information que vous nous fournissez. Afin d’empêcher l’accès ou la divulgation non autorisés, nous avons mis en place des mesures et procédures appropriées pour protéger et sécuriser les informations que nous collectons.
        </p>
        <br>
        <p class="title-2">Politique de cookies</p>
        <p class="desc-2">Les cookies sont de petits fichiers texte que nous avons placés sur votre ordinateur, ce qui nous permet d’offrir certaines fonctionnalités sur notre site, telles que la possibilité de se connecter facilement ou de mémoriser certaines de vos préférences.
            <br><br>Nous avons une politique de cookies détaillée et plus d’informations sur les cookies que nous utilisons sur <a href="https://paladium-pvp.fr/index.php?help/cookies">cette page</a>.
        </p>
        <br>
        <p class="title-2">Droits</p>
        <p class="desc-2">Vous avez le droit d’accéder aux données personnelles que nous détenons à votre sujet ou d’en obtenir une copie. Pour ce faire, veuillez <a href="https://paladium-pvp.fr/index.php?misc/contact/">nous contacter</a>. Si vous pensez que les informations que nous détenons pour vous sont incomplètes ou inexactes, vous pouvez <a href="https://paladium-pvp.fr/index.php?misc/contact/">nous contacter</a> pour nous demander de compléter ou de corriger ces informations.
            <br><br>Vous avez également le droit de demander l’effacement de vos données personnelles. Veuillez <a href="https://paladium-pvp.fr/index.php?misc/contact/">nous contacter</a> si vous souhaitez que nous supprimions vos données personnelles.
        </p>
        <br>
        <p class="title-2">Acceptation de cette politique</p>
        <p class="desc-2">L'utilisation continue de notre site signifie que vous acceptez cette politique. Si vous n'acceptez pas la politique, veuillez ne pas utiliser ce site. Lors de votre inscription, nous demanderons votre acceptation explicite de la politique de confidentialité.</p>
        <br>
        <p class="title-2">Modifications de cette politique</p>
        <p class="desc-2">Nous pouvons apporter des modifications à cette politique à tout moment. Vous serez peut-être invité à examiner et à accepter à nouveau les informations de cette stratégie si elles changent dans le futur.</p>
    </div>
</div>