<div class="settings-container" id="settings-user-compte-panel" style="display: none;">
    <h1 id="title">Mon compte</h1>

    <div class="user-info-container">
        <div class="user-profile-container">
            <div class="user-profile" id="settings-user-compte-profile" style="background-image: url('https://mc-heads.net/head/');"></div>
        </div>
        <div class="user-container">
            <div class="group">
                <p class="group-name">Nom d'utilisateur</p>
                <p class="group-value" id="settings-user-compte-displayname-label"></p>
            </div>
            <div class="group">
                <p class="group-name">Email</p>
                <p class="group-value" id="settings-user-compte-username-label"></p>
            </div>
        </div>
        <button class="button logout" id="settings-user-logout-button">Déconnexion</button>
    </div>

    <script src="./assets/js/scripts/settings/user-compte.js"></script>
</div>