/**
* Roboto
**/

/* #region */

@font-face {
    font-family: 'Roboto Thin';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Roboto Thin';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/Roboto/Roboto-ThinItalic.ttf');
}
@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto Light';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/Roboto/Roboto-LightItalic.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Roboto/Roboto-Italic.ttf');
}
@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto Medium';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Roboto/Roboto-MediumItalic.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto Black';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
}
@font-face {
    font-family: 'Roboto Black';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/Roboto/Roboto-BlackItalic.ttf');
}

/* #endregion */

/**
* Minecraftia
**/

/* #region */

@font-face {
    font-family: 'Minecraftia';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Minecraftia.ttf');
}

/* #endregion */