#overlay-view {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.50);

    z-index: 900;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

/**
 *  Overlay
 **/

.overlay-content {
    position: absolute;
    background-color: #2b2b2b;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    width: 600px;

    text-align: center;
    letter-spacing: 1px;

    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.overlay-content .overlay-head {
    padding: 30px 50px 0px 50px;
}

.overlay-content .overlay-head #overlay-title {
    font-family: 'Roboto Light';
    font-size: 24px;

    margin-bottom: 20px;
}

.overlay-content .overlay-body {
    padding: 30px 50px;
}

.overlay-content .overlay-body #overlay-desc {
    text-align: left;
    color: #bdbdbd;
    font-size: 14px;
}

.overlay-content .overlay-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlay-content .overlay-body #overlay-autoreload {
    color: #ff8400;
    font-size: 14px;
    margin-top: 30px;
}

.overlay-content .overlay-body .button-container {
    margin-top: 10px;
}

.overlay-content .overlay-body .button {
    margin-left: 5px;
    margin-right: 5px;
}

/**
 *  Overlay : Game Update
 **/

 .overlay-content .overlay-head #game-update-overlay-title {
    font-family: 'Roboto Light';
    font-size: 24px;

    margin-bottom: 20px;
}

.overlay-content .overlay-body #game-update-overlay-download {
    text-align: left;
    color: #bdbdbd;
    font-size: 13px;
}

.overlay-content .overlay-body #game-update-overlay-download-percent {
    text-align: left;
    color: #838383;
    font-size: 12px;
}

.progress-bar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.progress-bar {
    height: 20px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.progress__bar {
    display: block;
    position: relative;
    top: -1px;
    left: -1px;
    width: 0%;
    height: 100%;
    opacity: 1;
    border: 1px solid;
    border-radius: 2px 0 0 2px;
    background-size: 100px 30px, 130px 30px, 130px 30px;
    background-position: -20% center, right center, left center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    transition: opacity 0.2s ease, width 0.8s ease-out, background-color 1s ease, border-color 0.3s ease, box-shadow 1s ease;
    animation: pulse 2s ease-out infinite;
    background-color: rgba(18, 135, 204, 0.95);
    background-image: linear-gradient(90deg, rgba(20, 151, 227, 0) 10%, rgba(37, 162, 236, 0.8) 30%, #3dacee 70%, rgba(37, 162, 236, 0.8) 80%, rgba(20, 151, 227, 0) 90%), linear-gradient(to right, rgba(61, 172, 238, 0) 0%, #3dacee 100%), linear-gradient(to left, rgba(61, 172, 238, 0) 0%, #3dacee 100%);
    border-color: #54b6f0;
    box-shadow: 0 0 0.6em #25a2ec inset, 0 0 0.4em #1497e3 inset, 0 0 0.5em rgba(18, 135, 204, 0.5), 0 0 0.1em rgba(225, 242, 252, 0.5);
}
.progress__bar:before, .progress__bar:after {
    content: "";
    position: absolute;
    height: 40px;
}

.progress__bar--orange {
    background-color: rgba(201, 47, 0, 0.95);
    background-image: linear-gradient(90deg, rgba(227, 53, 0, 0) 10%, rgba(252, 59, 0, 0.8) 30%, #ff4d17 70%, rgba(252, 59, 0, 0.8) 80%, rgba(227, 53, 0, 0) 90%), linear-gradient(to right, rgba(255, 77, 23, 0) 0%, #ff4d17 100%), linear-gradient(to left, rgba(255, 77, 23, 0) 0%, #ff4d17 100%);
    border-color: #ff6030;
    box-shadow: 0 0 0.6em #fc3b00 inset, 0 0 0.4em #e33500 inset, 0 0 0.5em rgba(201, 47, 0, 0.5), 0 0 0.1em rgba(255, 214, 201, 0.5);
}
.progress__bar--yellow {
    background-color: rgba(232, 158, 0, 0.95);
    background-image: linear-gradient(90deg, rgba(255, 174, 3, 0) 10%, rgba(255, 183, 28, 0.8) 30%, #ffbf36 70%, rgba(255, 183, 28, 0.8) 80%, rgba(255, 174, 3, 0) 90%), linear-gradient(to right, rgba(255, 191, 54, 0) 0%, #ffbf36 100%), linear-gradient(to left, rgba(255, 191, 54, 0) 0%, #ffbf36 100%);
    border-color: #ffc74f;
    box-shadow: 0 0 0.6em #ffb71c inset, 0 0 0.4em #ffae03 inset, 0 0 0.5em rgba(232, 158, 0, 0.5), 0 0 0.1em rgba(255, 248, 232, 0.5);
}
.progress__bar--green {
    background-color: rgba(0, 178, 23, 0.95);
    background-image: linear-gradient(90deg, rgba(0, 204, 26, 0) 10%, rgba(0, 229, 30, 0.8) 30%, #00ff21 70%, rgba(0, 229, 30, 0.8) 80%, rgba(0, 204, 26, 0) 90%), linear-gradient(to right, rgba(0, 255, 33, 0) 0%, #00ff21 100%), linear-gradient(to left, rgba(0, 255, 33, 0) 0%, #00ff21 100%);
    border-color: #19ff37;
    box-shadow: 0 0 0.6em #00e51e inset, 0 0 0.4em #00cc1a inset, 0 0 0.5em rgba(0, 178, 23, 0.5), 0 0 0.1em rgba(178, 255, 188, 0.5);
}
.progress__bar--blue {
    background-color: rgba(18, 135, 204, 0.95);
    background-image: linear-gradient(90deg, rgba(20, 151, 227, 0) 10%, rgba(37, 162, 236, 0.8) 30%, #3dacee 70%, rgba(37, 162, 236, 0.8) 80%, rgba(20, 151, 227, 0) 90%), linear-gradient(to right, rgba(61, 172, 238, 0) 0%, #3dacee 100%), linear-gradient(to left, rgba(61, 172, 238, 0) 0%, #3dacee 100%);
    border-color: #54b6f0;
    box-shadow: 0 0 0.6em #25a2ec inset, 0 0 0.4em #1497e3 inset, 0 0 0.5em rgba(18, 135, 204, 0.5), 0 0 0.1em rgba(225, 242, 252, 0.5);
}
  
@keyframes pulse {
    0% {
        background-position: -50% center, right center, left center;
    }
    100% {
        background-position: 150% center, right center, left center;
    }
}