.home-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}
.home-slider .home-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
.home-slider .home-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-slider .home-slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-slider .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}