<div id="launcher-betalauncher-panel" style="display: none;">
    <div class="shadow"></div>
    
    <div class="particles">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
    </div>
    
    <div class="header-margin"></div>
    <div class="container">
        <div class="banner-content">
            <div class="maintenance-container mt-50">
                <div class="left">
                    <h1 class="title">Beta Launcher</h1>
                    <p class="desc">
                        Bienvenue sur la Beta du nouveau launcher de Paladium ! ❤❤
                        <br><br><i class="fas fa-exclamation-triangle"></i> Ce launcher est toujours en cours de développement.
                        <br>Beaucoup de fonctionnalités du launcher ne sont pas encore disponibles.
                        <br>Merci de rester compréhensible quant aux bugs qui peuvent survenir, c'est une Beta et elle est faite afin de les corrigés.
                        <br><br><i class="fas fa-angle-right"></i> Si vous avez un bug à reporter ou une suggestion à nous faire par, nous vous invitons à le faire sur le <a href="https://discord.gg/paladium">Discord</a> officiel de Paladium, ou sur le <a href="https://paladium-pvp.fr/index.php?forums/proposition-pour-am%C3%A9liorer-paladium.34/">Forum</a>.
                    </p>
                    
                    <div class="user-info-container">
                        <div class="user-profile-container">
                            <div class="user-profile" style="background-image: url('http://51.77.196.230/launcher/beta-version/swinger/launcher/betalauncher/Chaika9.png');"></div>
                        </div>
                        <div class="user-container">
                            <div class="group">
                                <p class="group-name">Développeur</p>
                                <p class="group-value">Chaika9 <em>(Chaika#4451)</em></p>
                            </div>
                            <div class="group">
                                <p class="group-name">Description</p>
                                <p class="group-value">Responsable du launcher ♡＾▽＾♡</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>