<div id="launcher-home-panel" style="display: none;">
    <div class="header-banner" style="background-image: url(http://51.77.196.230/launcher/beta-version/swinger/launcher/background.png);">
        <div class="shadow"></div>
    </div>

    <div class="header-banner-content">
        <div class="container">
            <div class="banner-header">
                <div class="box-social">
                    <a href="https://discord.gg/paladium" class="btn-social"><i class="fab fa-discord"></i></a>
                    <a href="https://twitter.com/paladiumpvp?lang=fr" class="btn-social"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/paladium.pvp/" class="btn-social"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UC3uSViy-aWBAk6b36Xjnm0g" class="btn-social"><i class="fab fa-youtube"></i></a>
                </div>
                <!--<div class="box-user">
                    <a class="btn-user avatar">
                        <img src="https://paladium-pvp.fr/data/avatars/m/14/14176.jpg?1560876411" alt="Bestdevelop">
                    </a>
                </div>-->
            </div>
            
            <div class="banner-body">
                <div class="banner-body-content">
                    <div class="block-play">
                        <span>Rejoins une communauté de <em>234,502</em> joueurs.</span>
                        <div class="button-group">
                            <a class="btn" id="launcher-home-play-button">Jouer</a>
                            <a class="btn" id="launcher-home-options-button">Options</a>
                        </div>
                    </div>

                    <div class="block-container announcement">
                        <div class="announcement-header">
                            
                        </div>
                    </div>
                </div>
    
                <div class="banner-body-sidebar">
                    <div class="block-container servers-status">
                        <div class="block-title">
                            États des serveurs
                            <em id="server-total-players">0<i class="offline"></i></em>
                        </div>
                        <div class="block-body">
                            <div class="server">
                                <div class="server-icon"></div>
                                <div class="server-text">
                                    <span class="big">Paladium</span>
                                    <span class="small">
                                        <b id="server-paladium-players">0</b> Joueurs connectés - <em id="server-paladium-latency">0</em>ms
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-container block-gradient shop-last">
                        <div class="block-title">
                            Dernières offres
                        </div>
                        <div class="block-body">
                            <div class="deal">
                                <div class="deal-container">
                                    <img src="https://dunb17ur4ymx4.cloudfront.net/packages/images/014e198feb6ad03e57b683027da8af651fe8d4e4.png" alt="Guardian Rank" class="deal-img">
                                    <div class="deal-details">
                                        <div class="deal-name">Grade Paladin</div>
                                        <div class="deal-price">
                                            <span class="new">24.99 €</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="deal">
                                <div class="deal-container">
                                    <img src="https://dunb17ur4ymx4.cloudfront.net/packages/images/014e198feb6ad03e57b683027da8af651fe8d4e4.png" alt="Guardian Rank" class="deal-img">
                                    <div class="deal-details">
                                        <div class="deal-name">Grade Titan</div>
                                        <div class="deal-price">
                                            <span class="new">19.99 €</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p>Visite notre <a href="https://store.paladium-pvp.fr">Boutique</a> pour voir toutes nos offres et grades.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./assets/js/scripts/launcher/home.js"></script>
</div>