<div id="launcher-maintenance-panel" style="display: none;">
    <div class="header-margin"></div>
    <div class="container">
        <div class="banner-content">
            <div class="maintenance-container mt-50">
                <div class="left">
                    <h1 class="title">Maintenance</h1>
                    <p class="desc">
                        Il semble que l'accès à cette page soit restreint...
                        <br>Mais, pas de panique ! Vous n'êtes pas exclu, nous vous offrons ce magnifique cookie.
                    </p>
                    <!--<button class="button" id="launcher-maintenance-home-button">Accueil</button>-->
                </div>
                <img src="assets/images/launcher/maintenance/cookie.png" class="logo">
            </div>
        </div>
    </div>
</div>