<div id="launcher-store-panel" style="display: none;">
    <div class="header-banner" style="background-image: url(http://51.77.196.230/launcher/beta-version/swinger/launcher/background.png);">
        <div class="shadow"></div>
    </div>
    
    <div class="header-banner-content">
        <div class="container">
            <div class="banner-body">
                <div class="banner-body-content">
                    <div class="block-container rank">
                        <div class="rank-bg">
                            <div class="rank-character"></div>
                        </div>

                        <div class="rank-header">
                            <div class="rank-header-text">
                                <h3 class="rank-title">Grade Titan</h3>
                                <span class="rank-price">19.99 €</span>
                            </div>
                            <a class="btn">Acheter</a>
                        </div>

                        <div class="rank-perks">
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc"> 5 Homes sur chaque serveur</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">18 Slots dans l'enderchest</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Accès prioritaire sur les serveurs factions</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Accès au /craft</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Ne perds pas ses niveaux d'xp lors de la mort</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">10% de réduction sur le prix d'une maison de faction</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">10% de réduction sur le prix d'un AP</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">1 Salon privée de qualité maximum sur TeamSpeak</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Ecrire en couleur dans le tchat en jeux</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Pseudo en couleur sur Discord</p>
                            </div>

                            <div class="perk locked">
                                <p class="icon"><i class="fas fa-ban"></i></p>
                                <p class="desc">Accès au /feed</p>
                            </div>
                            <div class="perk locked">
                                <p class="icon"><i class="fas fa-ban"></i></p>
                                <p class="desc">Accès au /furnace</p>
                            </div>
                            <div class="perk locked">
                                <p class="icon"><i class="fas fa-ban"></i></p>
                                <p class="desc">Téléportation instantané pour /spawn /tpa et /tpahere</p>
                            </div>
                            <div class="perk locked">
                                <p class="icon"><i class="fas fa-ban"></i></p>
                                <p class="desc">5% XP supplémentaire pour les métiers</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-body-content">
                    <div class="block-container rank">
                        <div class="rank-bg">
                            <div class="rank-character"></div>
                        </div>

                        <div class="rank-header">
                            <div class="rank-header-text">
                                <h3 class="rank-title">Grade Paladin</h3>
                                <span class="rank-price">24.99 €</span>
                            </div>
                            <a class="btn">Acheter</a>
                        </div>

                        <div class="rank-perks">
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc"> 10 Homes sur chaque serveur</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">27 Slots dans l'enderchest</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Accès prioritaire sur les serveurs factions</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Accès au /craft</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Ne perds pas ses niveaux d'xp lors de la mort</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">20% de réduction sur le prix d'une maison de faction</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">20% de réduction sur le prix d'un AP</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">2 Salon privée de qualité maximum sur TeamSpeak</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Ecrire en couleur dans le tchat en jeux</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Pseudo en couleur sur Discord</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Accès au /feed</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Accès au /furnace</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">Téléportation instantané pour /spawn /tpa et /tpahere</p>
                            </div>
                            <div class="perk">
                                <p class="icon"><i class="fas fa-plus-square"></i></p>
                                <p class="desc">5% XP supplémentaire pour les métiers</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="banner-body-sidebar">
                    <div class="block-container block-gradient welcome">
                        <div class="block-title">Bienvenue</div>
                        <div class="block-body">
                            <p>Bienvenue sur la boutique de <b>Paladium</b>!
                                <br><br>Ici, vous pourrez acheter des grades ainsi que toutes sortes de cosmetiques.
                                <br><br>Nous vous rappelons que les grades ainsi que les cosmetiques sont valable uniquement pour la durée de la saison en cours, à la fin de celle-ci les grades et les cosmetiques seront retirés
                                <br><br><b>Tout remboursement est impossible</b>, peu importe les circonstances. L'ouverture d'un littige vous fera bannir automatiquement de nos serveurs.
                                <br><br>Les joueurs ne sont pas autorisés à offrir un grade sans utiliser l'option "Gift".
                            </p>
                            <div class="supportmail">
                                <i class="fas fa-headset"></i>
                                <div>
                                    <small>Support email:</small>
                                    <input type="text" value="contact@paladium-pvp.fr" readonly="">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="block-container block-link">
                        <div class="block-body">
                            <a>Note pour les parents</a>
                            <p class="icon"><i class="fas fa-external-link-alt"></i></p>
                        </div>
                    </div>
                    <div class="block-container block-link">
                        <div class="block-body">
                            <a>Conditions générale de vente</a>
                            <p class="icon"><i class="fas fa-external-link-alt"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./assets/js/scripts/launcher/store.js"></script>
</div>